<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <head>
        <title>IGNORED</title>
    </head>
    <body>
        <ui:composition>
            <div class="welcome">
                #{msgs.loginWelcome}
                <div class="welcomeImage">
                    <h:graphicImage library="images" name="bookstore.jpg" />
                </div>
            </div>
        </ui:composition>
    </body>
</html>