<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="styles.css" />
        <title>#{msgs.pageTitleJPA}</title>
    </h:head>
    <h:body>
        <h:form>
            <h:dataTable value="#{EbookActionBeanJPA.all}" var="ebook"
                         styleClass="ebooks" headerClass="ebooksHeader"
                         columnClasses="isbn,title" rowClasses="oddrow,evenrow">
                <h:column>
                    <f:facet name="header">#{msgs.isbnHeader}</f:facet>
                        #{ebook.isbn}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.titleHeader}</f:facet>
                        #{ebook.title}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.authorsHeader}</f:facet>
                        #{ebook.authors}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.pagesHeader}</f:facet>
                        #{ebook.pages}
                </h:column>
            </h:dataTable>
        </h:form>
    </h:body>
</html>
