<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:changxiao="http://changxiao.com/facelets">
    <head>
        <title>IGNORED</title>
    </head>
    <body>
        <ui:composition>
            <h:form>
                <changxiao:ebook name="alchemy"
                                 image="#{resource['images:alchemy.jpg']}" />
                <changxiao:ebook name="astrology" image="#{resource['images:astrology.jpg']}" />
                <changxiao:ebook name="biology" image="#{resource['images:biology.jpg']}" />
                <changxiao:ebook name="education" image="#{resource['images:education.jpg']}" />
                <changxiao:ebook name="engineering"
                                 image="#{resource['images:engineering.jpg']}" />
                <changxiao:ebook name="history"
                                 image="#{resource['images:history.jpg']}" />
                <changxiao:ebook name="java"
                                 image="#{resource['images:java.jpg']}" />
                <changxiao:ebook name="psychology"
                                 image="#{resource['images:psychology.jpg']}" />
            </h:form>
        </ui:composition>
    </body>
</html>
