<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>IGNORED</title>
    </h:head>
    <h:body>
        <ui:composition>
            <div
                class='#{name == ebookInitial.selectedEbook ?
                         "ebookImageSelected" : "ebookImage"}'>
                <h:commandLink action="#{ebookInitial.changeEbook(name)}">
                    <h:graphicImage value="#{image}" />
                </h:commandLink>
                <ui:insert name="content1" />
            </div>
        </ui:composition>
    </h:body>
</html>