<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <head>
        <title>IGNORED</title>
    </head>
    <body>
        <ui:composition template="/templates/masterLayout.xhtml">
            <ui:define name="windowTitle">
                #{msgs.alchemy}
            </ui:define>

            <ui:define name="content">
                #{ebookJpaController.findEbook("ISBN1").toString()}
            This book includes a brief account of the alchemistic doctrines and their relations 
            to mysticism on the one hand, and to recent discoveries in physical science on the other hand,
            together with some particulars regarding the lives and teachings of the most noted alchemists. 
            The book includes seven chapters as follows: (1) The Meaning of Alchemy, 
            (2) The Theory of Physical Alchemy, (3) The Alchemists (Before Paracelsus), 
            (4) The Alchemists (Paracelsus and After), (5) The Outcome of Alchemy, 
            (6) The Age of Modern Chemistry, and (7) Modern Alchemy. 
            It is a pleasure to publish this new, high quality,
            and affordable edition of this timeless book. This edition is amply illustrated.
            </ui:define>
        </ui:composition>
    </body>
</html>