<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <head>
        <title>IGNORED</title>
    </head>
    <body>
        <ui:composition template="/templates/masterLayout.xhtml">
            <ui:define name="windowTitle">
                #{msgs.astrology}
            </ui:define>

            <ui:define name="content">
            In  Astrology: Understanding the Birth Chart, Kevin Burk takes you step-by-step
            from the core basics to the finer complexities of chart interpretation while 
            avoiding sidetracks into obscure techniques and fuzzy thinking. As a teacher, 
            Burk also understands that a real grasp of the subject entails more than just 
            learning the techniques-it also involves grasping the underlying principles 
            that make those techniques valid.
            </ui:define>
        </ui:composition>
    </body>
</html>