<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <head>
        <title>IGNORED</title>
    </head>
    <body>
        <ui:composition template="/templates/masterLayout.xhtml">
            <ui:define name="windowTitle">
                #{msgs.biology}
            </ui:define>

            <ui:define name="content">
            This text has invited more than 4 million students into the study of
            this dynamic and essential discipline.The authors have restructured 
            each chapter around a conceptual framework of five or six big ideas.       
            </ui:define>
        </ui:composition>
    </body>
</html>