<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <head>
        <title>IGNORED</title>
    </head>
    <body>
        <ui:composition template="/templates/masterLayout.xhtml">
            <ui:define name="windowTitle">
                #{msgs.education}
            </ui:define>

            <ui:define name="content">
            Discover how to teach children and increase student participation.
            </ui:define>
        </ui:composition>
    </body>
</html>