<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <head>
        <title>IGNORED</title>
    </head>
    <body>
        <ui:composition template="/templates/masterLayout.xhtml">
            <ui:define name="windowTitle">
                #{msgs.loginTitle}
            </ui:define>

            <ui:define name="heading">
                <ui:include src="/sections/login/header.xhtml" />
            </ui:define>

            <ui:define name="sidebarLeft">
                <ui:include src="/sections/login/sidebarLeft.xhtml" />
            </ui:define>

            <ui:define name="content">
                <h:form>
                    <h:panelGrid columns="2">
                        #{msgs.namePrompt}
                        <h:inputText id="name" value="#{user.name}" />
                        #{msgs.passwordPrompt}
                        <h:inputSecret id="password" value="#{user.password}" />
                    </h:panelGrid>
                    <p>
                        <h:commandButton value="#{msgs.loginButtonText}"
                                         action="ebookstore" />
                    </p>
                </h:form>
            </ui:define>
            
            <ui:define name="information">
                <ui:include src="/sections/ebookstore/index.xhtml" />
            </ui:define>

        </ui:composition>
    </body>
</html>