<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <head>
        <title>IGNORED</title>
    </head>
    <body>
        <ui:composition template="/templates/masterLayout.xhtml">
            <ui:define name="windowTitle">
                #{msgs.psychology}
            </ui:define>

            <ui:define name="content">
            This bestselling Psychology has reached a wider audience of
            students and instructors with each new edition. The author and his team 
            lead the field in being attuned to psychology’s research and the needs 
            of the instructors and students in the course today.
            </ui:define>
        </ui:composition>
    </body>
</html>